{% extends 'wrapper_2.html' %}
{% block content %}
{% load static %}
{% load thumbnail %}
<div class="create">
    <div class="d-flex justify-content-center align-items-center">
<div class="cre">
    <img src="{{ publication.image|thumbnail_url:'publication' }}">
    <h1>{{ publication.name }}</h1>
    </div>
</div>
<div class="d-flex flex-column justify-content-center align-items-center">
    <form action="" method="POST">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Напишите комментарий" class="bg-gradient text-black qaz">
        <input type="submit" value="Отправить" class="bg-gradient">
    </form>
</div>
</div>
{% endblock %}